* {
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  padding: 0;
}

body{
  color: white;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

#planet0{
  background-image: url("/img/planet/coruscant.svg");
}

#planet1{
  background-image: url("/img/planet/mustafar.svg");
}

#planet2{
  background-image: url("/img/planet/naboo.svg");
}

#planet3{
  background-image: url("/img/planet/tatooine.svg");
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* modal */

.dark-background{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #000;
  z-index: 2;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 6;
  visibility: hidden;

  & > *{
    opacity: 0;
  }
}
