* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'anakinmomo';
	src: url('../font/anakinmono.ttf');
}

@font-face {
	font-family: 'starjedi';
	src: url('../font/starjedi.ttf');
}

ol, ul {
  list-style: none;
  padding: 0;
}

.title, h1, h2{
  font-family: 'starjedi';
  font-size: 50px;
  margin-bottom: 30px;
}

h1{
  position: absolute;
  z-index: 2;
  color: #ffe81f;
  text-align: center;
}

.title{
  font-size: 80px;
  margin-bottom: 50px;
}

p, span{
  font-family: 'anakinmomo';
  line-height: 30px;
}

body{
  color: white;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

// Assets

#planet0{
  background-image: url("/img/planet/coruscant.svg");
}

#planet1{
  background-image: url("/img/planet/mustafar.svg");
}

#planet2{
  background-image: url("/img/planet/naboo.svg");
}

#planet3{
  background-image: url("/img/planet/tatooine.svg");
}

#jedi-temple{
  background-image: url("/img/coruscant/CoruscantJediTemple.svg");
}

#coruscant-tower1{
  background-image: url("/img/coruscant/GratteCiel1.svg");
}

#coruscant-tower2{
  background-image: url("/img/coruscant/GratteCiel2.svg");
}

#coruscant-tower3{
  background-image: url("/img/coruscant/GratteCiel3.svg");
}

#coruscant-tower4{
  background-image: url("/img/coruscant/GratteCiel4.svg");
}

#coruscant-tower5{
  background-image: url("/img/coruscant/GratteCiel5.svg");
}

#coruscant-tower6{
  background-image: url("/img/coruscant/GratteCiel6.svg");
}

#coruscant-tower7{
  background-image: url("/img/coruscant/GratteCiel7.svg");
}

#senate{
  background-image: url("/img/coruscant/CoruscantSenat.svg");
}

#vader-castle {
  background-image: url("/img/mustafar/VadersCastle.svg");
}

#lake-retreat {
  background-image: url("/img/naboo/LakeRetreat.svg");
}

#tatooine-suns {
  background-image: url("/img/tatooine/SoleilsTatooine.svg");
}

#lars-homestead {
  background-image: url("/img/tatooine/LarsHomestead.svg");
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* modal */

.dark-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  border-top-right-radius: 50vh;
  border-bottom-right-radius: 50vh;
  opacity: 0;
  background-color: #000;
  z-index: 2;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  visibility: hidden;

  .content{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 30px;
    margin-left: auto;
    min-height: 80vh;

    h2, p{
      display: flex;
    }
  }

  .head{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .decorations{
    .decoration{
      position: fixed;
      z-index: 10;

      &.cloud{
        width: 100px;
        animation: levitation 3s ease-in-out infinite;
      }
    }
  }

  & > *{
    opacity: 0;
  }
}

.coruscant{
  .decorations{
    .decoration{
      &:nth-child(1){
        top: 135px;
        left: 75px;
        rotate: -47deg;
      }

      &:nth-child(2){
        top: 160px;
        left: 713px;
        rotate: 47deg;
        animation-delay: 1s;
      }
    }
  }
}

.mustaffar{
  .decorations{
    .decoration{
      &:nth-child(1){
        top: 135px;
        left: 75px;
        rotate: -47deg;
      }

      &:nth-child(2){
        top: 160px;
        left: 713px;
        rotate: 47deg;
        animation-delay: 1s;
      }

      &.smoke{
        width: 100px;
        top: 160px;
        left: 713px;
        rotate: 47deg;
        animation: smoke 5s linear infinite alternate;
        animation-delay: 1s;
        transform-origin: bottom center;
      }
    }
  }
}

.naboo{
  .decorations{
    .decoration{
      &:nth-child(1){
        top: 135px;
        left: 75px;
        rotate: -47deg;
      }

      &:nth-child(2){
        top: 160px;
        left: 713px;
        rotate: 47deg;
        animation-delay: 1s;
      }
    }
  }
}
